<div class="contact">
    <div id="info">
        <h1>Contact Me</h1>
        <div class="social">
            <img src="../assets/mail.png" alt="email icon">
            <h3>shamirhaider05@gmail.com</h3>
        </div>
        <div class="social">
            <img src="../assets/phone.png" alt="phone icon">
            <h3>03234126251</h3>
        </div>
        <div class="social-icons">
            <a href="https://web.facebook.com/malik.shamir.14418" target="_blank">
              <img class="icon" src="../assets/fb.png" alt="fblink">
            </a>
            <a href="https://www.instagram.com/malikshamir05/" target="_blank">
              <img class="icon" src="../assets/insta.png" alt="instalink">
            </a>
            <a href="https://www.linkedin.com/in/shamir-haider-792337217/" target="_blank">
              <img class="icon" src="../assets/linkedin.png" alt="lnlink">
            </a>
          </div>
          <button class="btn"><a href="..\assets\Shamir Haider_Resume.pdf" download>Download CV</a></button>
    </div>


    <form class="contactform" action="">
    <input type="text" class="input" name="myName" id="name" placeholder="Your Name">
    <input type="email" class="input" name="myEmail" id="email" placeholder="Your Email">
    <textarea name="myMsg" class="input" id="msg" cols="30" rows="10" placeholder="Your Message"></textarea>
    <button class="btn">Submit</button>
    </form>
</div>