<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <div id="about">
      <div class ="box" id="aboutme">
        <h2 class="h-primary center">About Me</h2>
        <p class="text">
          Hi, I am Shamir Haider. I am a professional full-stack developer
          having vast experience in HTML, CSS, JavaScript, PHP, BootStrap,
          Laravel, JQuery, MySql, and Mongodb. I would love to help you in
          developing your website or service. Consultation is always FREE so
          contact me to know how I can help you.
        </p>
      </div>
   
        <div class ="box" id="skills">
            <h2 class="h-primary center">Skills</h2>
        <ul id="skill-list">
          <li class="list text">HTML5</li>
          <li class="list text">CSS3</li>
          <li class="list text">JAVASCRIPT</li>
          <li class="list text">PHP</li>
          <li class="list text">MYSQL</li>
          <li class="list text">ANGULAR</li>
        </ul>
      </div>
      <div class ="box" id="education">
          <h2 class="h-primary center">Education</h2>
          <ul><li><p class="text">
              Riphah International university I-14 Islamabad <br />
              BSSE (6th semester) <br />
              Cgpa: 3.45 <br />
              2020-2024
            </p></li>
        </ul>
        <ul><li><p class="text">
            Fauji Foundation College for boys, New Lalazar, Rawalpindi <br />
            ICS <br />
            2018-2020
        </p></li>
    </ul>
    <ul>
      <li><p class="text">
        Fauji Foundation College for boys, New Lalazar, Rawalpindi <br />
        Matric <br />
        2016-2018
    </p></li>
</ul>
</div>
</div>
  </body>
</html>
