<h1>My Services</h1>
<div class="services">
    <div class="servicelist">
        <img src="../assets/single.png" alt="icon">
        <h3>Single Page Websites</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores natus officiis rem! Consequatur enim reiciendis aperiam amet? Atque quisquam numquam aliquid nulla laudantium eum temporibus debitis eligendi, laborum sequi.</p>
    </div>
    <div class="servicelist">
        <img src="../assets/single.png" alt="icon">
        <h3>Web Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores natus officiis rem! Consequatur enim reiciendis aperiam amet? Atque quisquam numquam aliquid nulla laudantium eum temporibus debitis eligendi, laborum sequi.</p>
    </div>
    <div class="servicelist">
        <img src="../assets/single.png" alt="icon">
        <h3>UI/UX Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores natus officiis rem! Consequatur enim reiciendis aperiam amet? Atque quisquam numquam aliquid nulla laudantium eum temporibus debitis eligendi, laborum sequi.</p>
    </div>
</div>