h1{
    color: white;
    margin: 40px 20px;
    font-size: 3rem;
}
.services{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.services :hover{
    background-color: rgb(211, 44, 66);

}
.servicelist{
    height: 280px;
    width: 25%;
    margin-left: 6%;
    padding: 10px;
    background-color: #343434;
    color: white;
    border-radius: 10px;
}

.servicelist img{
    width: 30%;
    height: 30%;
}
.servicelist h3{
    font-size: 1.6rem;
    margin: 15px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.servicelist p{
    font-size: 1rem;
    margin-top: 20px;
}