<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div id="homeBody">
        <p><span id="p-web">Web Developer</span><br> 
            Hi, I am <span id="p-name">Shamir</span><br> 
            Haider from Pakistan</p>
        <img src="../assets/me.png" alt="">
    </div>
</body>
</html>