<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    <div id="navbar">
        <h1 class="h-primary">Port<span>folio</span></h1>
            <ul class="navItems">
                <a class="item" routerLink="/home" routerLinkActive="active"><li>HOME</li></a>
                <a class="item" routerLink="/about" routerLinkActive="active"><li>ABOUT</li></a>
                <a class="item" routerLink="/service" routerLinkActive="active"><li>SERVICES</li></a>
                <a class="item" routerLink="/resume" routerLinkActive="active"><li>RESUME</li></a>
                <a class="item" routerLink="/contact" routerLinkActive="active"><li>CONTACT</li></a>
            </ul>
    </div>
</body>
</html>